{% include 'ext_includes/header.html' %}
{% load static %}
{% load charging_buddy_tags %}
<link rel="stylesheet" href="{% static 'charge/css/home.css' %}">
</head>

<body>
    {% include 'ext_includes/nav.html' %}

    <!-- Slots Container -->
    <div id="slots" class="container-fluid">
        <div class="text-center">
            <h1>Booking</h1>
            <p><strong>{{station_name}}</strong></p>
            <p>{{station_description}}</p>
            <h4>Enter your phone's positions</h4>
        </div>
        {% if already_booked %}
          <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info!</strong> Your Phone has being assigned Slot having Id: {{slot_id}}
          </div>
        {% endif %}
        
        {% if error %}
          <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info!</strong> {{error_desc}}
          </div>
        {% elif success %}
          <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning!</strong> 
            {% if action == "open" %}
                Slot {{slot}} is Opening
            {% else %}
                Slot {{slot}} is closing
            {% endif %}
          </div>
        {% endif %}

        <div class="row slideanim">
            <form action="{% url 'publish_to_station' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="stationid">Station id: {{stationid}}</label>
                    <input class="form-control" type="hidden" value="{{stationid}}" name="stationid">
                </div>
                <div>
                    <label for="action">Action</label>
                    <select class="form-control" name="action">
                        <option value="open">Open the locker</option>
                        <option value="close">Close the locker</option>
                    </select>
                </div>
                <div>
                    <label for="phone_status">Phone Status</label>
                    <select class="form-control" name="phone_status">
                        <option value="inside">Phone is inside locker</option>
                        <option value="outside">Phone is outside locker</option>
                    </select>
                </div>
                <div style="margin-top: 1%;" class="alert alert-info alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Info!</strong> Make sure door is closed properly before proceeding
                </div>
                <div class="" style="margin-top: 1%;">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" name="button">Proceed</button>
                </div>
            </form>
        </div>
    </div>
    <style>
        .book_button:link,
        .book_button:visited {
            background-color: rgb(45, 55, 104);
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .book_button:hover,
        .book_button:active {
            background-color: red;
        }
    </style>
    <script>
        $(document).ready(function () {

            $(" .slideanim").each(function () {
                var pos = $(this).offset().top; var winTop = $(window).scrollTop(); if (pos <
                    winTop + 600) { $(this).addClass("slide"); }
            });
        }) </script>
</body>