{% include 'ext_includes/header.html' %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'charge/css/home.css' %}">
</head>
<body>
  {% include 'ext_includes/nav.html' %}
  <div style="margin-top: 10%;">
    <h1>Your Location</h1>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
    <div class="col-md-8 col-sm-8 col-xs-12" id="map"></div>
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
  </div>
  <div>
    <h3><a href="">Different Location</a></h3>

  </div>

  <script>
    var map, infoWindow;
    function initMap() {
      var options = {
        zoom: 16,
        center: {
          lat: 19.0760,
          lng: 72.8777
        }
      }
      map = new google.maps.Map(document.getElementById('map'), options);
      // var marker = new google.maps.Marker();
      infoWindow = new google.maps.InfoWindow;

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(p) {
          var position = {
            lat: p.coords.latitude,
            lng: p.coords.longitude
          };

          infoWindow.setPosition(position);
          infoWindow.setContent('Your location!');
          infoWindow.open(map);
          map.setCenter(position);
          map.setZoom(16);
        }, function() {
          handleLocationError('Geolocation service failed', map.getCenter());
        });
      } else {
        handleLocationError('No geolocation available.', map.getCenter());
      }
    }

    function handleLocationError(content, position) {
      infoWindow.setPosition(position);
      infoWindow.setContent(content);
      infoWindow.open(map);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn3B-hRlzm78JGc8qJqlPRK48UBfmwUoE&callback=initMap">
  </script>

</body>

</html>
