{% include 'ext_includes/header.html' %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'charge/css/home.css' %}">
</head>
<body>
  {% include 'ext_includes/nav.html' %}
  <div class="" style="margin-top: 8%;">
    <table>
      {% for slot in free_slots_list %}
      <tr>
          <td> {{ slot }} </td>
      </tr>
      {% endfor %}
    </table>

  </div>

</body>
